<div class="min-h-screen bg-gray-100 py-10">
  <div class="container mx-auto px-4">
    <div class="mb-6 text-center">
      <%= link_to 'Marquer une présence', new_admin_attendance_path, class: "bg-blue-500 text-white font-semibold py-2 px-4 rounded shadow hover:bg-blue-600 transition" %>
    </div>

    <h1 class="text-4xl font-semibold text-gray-800 mb-8 text-center">Liste des présences</h1>
    
    <% if @attendances.any? %>
      <div class="overflow-x-auto bg-white shadow-lg rounded-lg">
        <table class="min-w-full">
          <thead class="bg-gray-200">
            <tr>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">ID</th>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Employé</th>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Poste</th>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Status</th>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Date</th>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Heures travaillées</th>
              <th class="py-2 px-4 text-left text-sm font-medium text-gray-600">Totales heures</th>
            </tr>
          </thead>
          <tbody>
            <% @attendances.each do |attend| %>
              <tr class="border-b">
                <td class="py-2 px-4 text-sm text-gray-700"><%= attend.id %></td>
                <td class="py-2 px-4 text-sm text-gray-700"><%= attend.user.name%></td>
                <td class="py-2 px-4 text-sm text-gray-700"><%= attend.user.position%></td>
                <td class="py-2 px-4 text-sm text-gray-700">
                  <% if attend.status == "absent" %>
                    <span class="text-red-500 font-bold">Absent</span>
                  <% else %>
                    <span class="text-green-500 font-bold">Présent</span>
                  <% end %>
                </td>
                <td class="py-2 px-4 text-sm text-gray-700">
                  <%= attend.date.in_time_zone('Africa/Harare').strftime("%B %d at %I:%M %p") %>
                </td>
                <td class="py-2 px-4 text-sm text-gray-700">
                  <% if attend.worked_hours.present? %>
                    <%= attend.worked_hours %> heures
                  <% else %>
                    Pas enregistrée
                  <% end %>
                </td>
                <td class="py-2 px-4 text-sm text-gray-700"><%= attend.user.total_worked_hours %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
        <p class="text-lg text-gray-700">Aucun enregistrement de présence disponible.</p>
      </div>
    <% end %>
  </div>
</div>
