<div class="min-h-screen bg-gray-100 py-10">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-semibold text-gray-800 mb-6 text-center">Sick Leave Requests</h1>
    
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white shadow-md rounded-lg border border-gray-200">
        <thead>
          <tr class="bg-gray-50">
            <th class="px-6 py-4 text-left text-lg font-medium text-gray-600 uppercase tracking-wider">Employée et/ou utilisateur</th>
            <th class="px-6 py-4 text-left text-lg font-medium text-gray-600 uppercase tracking-wider">Début</th>
            <th class="px-6 py-4 text-left text-lg font-medium text-gray-600 uppercase tracking-wider">Fin</th>
            <th class="px-6 py-4 text-left text-lg font-medium text-gray-600 uppercase tracking-wider">Raison</th>
            <th class="px-6 py-4 text-left text-lg font-medium text-gray-600 uppercase tracking-wider">Status</th>
            <th class="px-6 py-4 text-left text-lg font-medium text-gray-600 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-300">
          <% @sick_leaves.each do |leave| %>
            <tr class="hover:bg-gray-50 transition duration-200 <%= 'bg-green-100 border border-green-300' if leave.status == 'approved' %> <%= 'bg-red-100 border border-red-300' if leave.status == 'rejected' %>">
              <td class="px-6 py-4 whitespace-nowrap text-md text-gray-700">
                <% if leave.user? %><%= leave.user.name %><% else %> Utilisateur inexistant ou indefini <% end %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-md text-gray-700">
                <%= leave.start_date.strftime("%B %d, %Y") %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-md text-gray-700">
                <%= leave.end_date.strftime("%B %d, %Y") %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-md text-gray-700">
                <%= leave.reason %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-md text-gray-700">
                <%= leave.status %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= form_with(model: [:admin, leave], method: :patch, local: true) do |f|%>
                  <%= select_tag :status, options_for_select([
                  ['Select Action', ''], 
                  ['Approve', 'approved'], 
                  ['Reject', 'rejected']
                  ], selected: ''), 
                  class: 'border-gray-300 rounded p-2' %>
                  <%= f.submit 'Soumettre', class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300 ml-2' %>
                <% end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
