<nav>
  <ul class='navbar'>
    <li><%= link_to 'Meeting', admin_meetings_path %></li>
    <li><%= link_to 'Rapports', admin_reports_path %></li>
    <li><%= link_to 'Congés Maladie', admin_sick_leaves_path %></li>
    <li><%= link_to 'Presences', admin_attendances_path %></li>
    <li><%= link_to 'Employés', admin_users_path %></li>
  </ul>
</nav>