<h1>Create New Meeting</h1>
<%= form_with(model: [:admin, @meeting], local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>

  <%= f.label :end_time %>
  <%= f.datetime_select :end_time %>

  <%= f.submit 'Create Meeting' %>
<% end %>