<h1>My Reports</h1>
<%= link_to 'Nouveau rapport', new_report_path %>
<ul>
  <%if @reports.present? %>
    <% @reports.each do |report| %>
      <li>Créé par employé: <span><%= report.user.email %> </span></li>
      <li><%= report.title %> - <%= report.created_at.to_date %></li>
      <li><%= report.content %></li>
    <% end %>
  <% else %>
    <p>Pas de rapport recu des employés pour le moment</p>
  <% end %>
</ul>