<div class="min-h-screen bg-gray-100 py-10">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-semibold text-gray-800 mb-6 text-center">Créer un Nouveau Rapport</h1>

    <div class="bg-white shadow-md rounded-lg p-6">
      <%= form_with model: @report, url: reports_path, data: { turbo: false } do |f| %>

        <div class="mb-4">
          <%= f.label :title, class: "block text-gray-700 font-semibold mb-2" %>
          <%= f.text_field :title, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %>
        </div>

        <div class="mb-4">
          <%= f.label :content, class: "block text-gray-700 font-semibold mb-2" %>
          <%= f.text_area :content, 
              rows: 10,  # Increases the number of visible lines
              class: "mt-1 block w-full h-64 border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 resize-y" 
          %>
        </div>

        <div class="mt-6">
          <%= f.submit 'Créer un rapport', class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition duration-300" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
