<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'https://rawgit.com/schmich/instascan-builds/master/instascan.min.js' %>
</head>

<body class="bg-gray-100">
  <% if user_signed_in? && current_user.present? && current_user.admin? %>
    <%= render 'shared/adminavbar' %>
  <% elsif user_signed_in? && (current_page?(root_path) || current_page?(meetings_path) || current_page?(reports_path) || current_page?(new_report_path) || current_page?(sick_leaves_path) || current_page?(new_sick_leafe_path) || current_page?(attendances_path)) %>
    <main class="mainpage">
      <%= render 'shared/navbar' %>
    </main>
  <% else %>
    <%= yield %>
  <% end %>

  <% if notice %>
    <p class="notice fixed top-0 right-0 m-4 p-4 bg-green-100 text-green-700 rounded shadow-md transition-transform transform translate-y-0">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert fixed top-0 right-0 m-4 p-4 bg-red-100 text-red-700 rounded shadow-md transition-transform transform translate-y-0">
      <%= alert %>
    </p>
  <% end %>
</body>
</html>
