<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <% if current_user.present? && current_user.admin? %>
      <%= render 'shared/adminavbar' %>
    <% elsif user_signed_in? && (current_page?(root_path) || current_page?(meetings_path) || current_page?(reports_path) || current_page?(sick_leaves_path) || current_page?(attendances_path)) %>
      <main class='mainpage'>
        <%= render 'shared/navbar' %>
        <%= yield %>
      </main>
    <% else %>
      <%= yield %>
    <% end %>

    <% if notice %>
      <p class="notice absolute top-0 right-0 m-4 p-4 bg-green-100 text-green-700 rounded"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert absolute top-0 right-0 m-4 p-4 bg-red-100 text-red-700 rounded"><%= alert %></p>
    <% end %>
  </body>
</html>